@import url(reset.css);

.icon{
	background:yellow;
	
	display:inline-block;
	width:24px;
	height:24px;
	
	overflow: hidden;
	text-indent: -999px;
}

.icon-menu{
	background:url(../images/icon/baseline-menu-24px.svg) no-repeat center;
	padding: 10px;
}

.icon-search{
	background:url(../images/icon/baseline-search-24px.svg) no-repeat center;
	padding: 10px;
}

/*-------------------------------------------------------------------------------------*/
#header{
	display: flex;
	height: 54px;
	background: blue;
	justify-content: space-between; /* 수평방향 정렬 */
	align-items: center; /* 수직방향 정렬 */
}

#header>*{
	display: flex;
	align-items: center;
}
#logo{
    background: url("../images/logo.png") no-repeat center;
    width:182px;
    height: 35px;
    
    text-indent: -999px;
    overflow: hidden;

    display: inline-block;
}